html {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

main a,
main a:hover,
main a:visited {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

nav {
  font-weight: 800;
  font-variant: small-caps;
}

body > header, 
body > header a {
  color: hsl(0, 0%, 100%);
}

body > header a.active {
  color: hsl(0, 0%, 47%);
}

body > header a:hover {
  color: hsl(0, 0%, 71%);
}

header .header-title {
  text-align: center;
  font-size: 400%;
  font-stretch: expanded;
}

header .header-subtitle {
  text-align: center;
  font-size: 200%;
}

footer,
footer a,
footer a:visited {
  color: hsl(0, 0%, 71%);
  text-decoration: none;
}

footer a:hover {
  color: hsl(0, 0%, 50%);
}

.pager {
  display: flex;
  font-size: 1.17em;
  font-weight: bold;
}

.pager .previous {
  margin-right: auto;
}

.pager .next {
  margin-left: auto;
}

.pager a,
.pager a:visited {
  color: hsl(0, 0%, 71%);
  text-decoration: none;
}

.pager a:hover {
  color: hsl(0, 0%, 50%);
}

