<div id="social" class="social">
  <ul>
    {{ if .Site.Params.social.rss }}
      <li>
        <a href="{{ .RSSLink }}" rel="feed" type="application/rss+xml">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {{ end }}
    {{ with .Site.Params.social.email }}
      <li>
        <a href="mailto:{{ . }}">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {{ end }}
    {{ with .Site.Params.social.github }}
      <li>
        <a href="{{ . }}">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {{ end }}
    {{ with .Site.Params.social.linkedin }}
      <li>
        <a href="{{ . }}">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {{ end }}
    {{ with .Site.Params.social.twitter }}
      <li>
        <a href="{{ . }}">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
